<h2 id="title" contenteditable {{create-tracked-ref "foo" subtree=true}}><span>Welcome to Ember</span></h2>

{{#let (tracked-ref-to "foo") as |node|}}
<br />
Content: {{node.textContent}}
<br />
Child nodes: {{node.children.length}}
<br />
Content width: {{node.clientWidth}}
<br />
Content size: {{node.textContent.length}} symbols
<br />
First child tag name: {{node.firstChild.tagName}}
<br />

{{#if node}}
  {{!-- {{#in-element node insertBefore=null}}<span> ({{node.firstChild.textContent.length}} chars)</span>{{/in-element}} --}}
{{/if}}
{{/let}}

Same content from @ref: {{this.value}}
